<plat-drawer plat-options="{position:'right'}">
    <div>
        <li>
            <a class="mobile" [routerLink]="['/']">Home</a>
        </li>
    </div>
    <div>
        <li>
            <a class="mobile" [routerLink]="['/education']">Education</a>
        </li>
    </div>
    <div>
        <li>
            <a class="mobile" [routerLink]="['/portfolio']">Portfolio</a>
        </li>
    </div>
    <div>
        <li>
            <a class="mobile" [routerLink]="['/blog']">Blog</a>
        </li>
    </div>
    <div>
        <li [hidden]="!isUserLoggedIn()">
            <a class="mobile" [routerLink]="['/login']">Login</a>
        </li>
    </div>
    <div>
        <li [hidden]="isUserLoggedIn()">
            <a class="mobile" [routerLink]="['/profile']">
                <i class="fa fa-user fa-1x" aria-hidden="true"></i>
            </a>
        </li>
    </div>
    <div>
        <li [hidden]="isUserLoggedIn()">
            <a class="mobile" [routerLink]="['/write']">Write</a>
        </li>
    </div>
    <div>
        <li [hidden]="isUserLoggedIn()">
            <a class="mobile" [routerLink]="['/']" (click)="logout()">Logout</a>
        </li>
    </div>
    <div>
        <li [hidden]="!isUserLoggedIn()">
            <a class="mobile" [routerLink]="['/contact']">Contact</a>
        </li>
    </div>
</plat-drawer>