@import '../views/navbar/navbar.less';
@import '../views/drawer/drawer.component.less';
@import '../views/home/home.less';
@import '../views/education/ed.less';
@import '../views/portfolio/portfolio.less';
@import '../views/login/login.less';
@import '../views/contact/contact.less';
@import '../views/blog/blog.less';
@import '../views/navbar/navbar.less';
@import '../views/profile/profile.vc.less';
@import '../views/write/write.less';
@import '../../node_modules/platypusui/dist/platypus.less';

.app{
    height: 100vh;
    width: 100vw;
    z-index: 1000000;
    position: absolute;
}
[plat-control='app-root']{

    background-color: white;
    #platui > #mixins > .calc(height; '100%');
    #platui > #mixins > .scroll(y);

}

.easterEgg{
    color: #fff;
}

a.pdf{
    color:#333;
    text-decoration: none;
}