<div>
    <main>
    <article class=" u-minHeight100vhOffset65 u-overflowHidden postArticle postArticle--full" data-scroll="native">
        <header class="container u-maxWidth740">
            <div class="uiScale uiScale-ui--regular uiScale-caption--regular postMetaHeader u-paddingBottom10 row">
                <div class="col u-size12of12 js-postMetaLockup">
                    <div
                        class="uiScale uiScale-ui--regular uiScale-caption--regular postMetaLockup postMetaLockup--authorWithBio u-flexCenter js-postMetaLockup">
                        <div class="u-flex0">
                            <a class="link u-baseColor--link avatar"
                                href="https://medium.com/@inunotaisho?source=post_header_lockup"
                                data-action="show-user-card" data-action-source="post_header_lockup"
                                data-action-value="6bbb1d799800" data-action-type="hover" data-user-id="6bbb1d799800"
                                dir="auto">
                                <div class="u-relative u-inlineBlock u-flex0">
                                    <img src="https://cdn-images-1.medium.com/fit/c/120/120/0*Olv3dnaJamH30Axg."
                                        class="avatar-image avatar-image--small"
                                        alt="Go to the profile of Ethan Burrow Fairweather">
                                    <div class="avatar-halo u-absolute u-textColorGreenNormal svgIcon"
                                        style="width: calc(100% + 12px); height: calc(100% + 12px); top:-6px; left:-6px">
                                        <svg viewBox="0 0 114 114" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.66922967,32.092726 C17.0070768,13.6353618 35.9421928,1.75 57,1.75 C78.0578072,1.75 96.9929232,13.6353618 106.33077,32.092726 L107.66923,31.4155801 C98.0784505,12.4582656 78.6289015,0.25 57,0.25 C35.3710985,0.25 15.9215495,12.4582656 6.33077033,31.4155801 L7.66922967,32.092726 Z">
                                            </path>
                                            <path
                                                d="M106.33077,81.661427 C96.9929232,100.118791 78.0578072,112.004153 57,112.004153 C35.9421928,112.004153 17.0070768,100.118791 7.66922967,81.661427 L6.33077033,82.338573 C15.9215495,101.295887 35.3710985,113.504153 57,113.504153 C78.6289015,113.504153 98.0784505,101.295887 107.66923,82.338573 L106.33077,81.661427 Z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="u-flex1 u-paddingLeft15 u-overflowHidden">
                            <div class="u-lineHeightTightest">
                                <a class="ds-link ds-link--styleSubtle ui-captionStrong u-inlineBlock link link--darken link--darker"
                                    href="https://medium.com/@inunotaisho?source=post_header_lockup"
                                    data-action="show-user-card" data-action-source="post_header_lockup"
                                    data-action-value="6bbb1d799800" data-action-type="hover"
                                    data-user-id="6bbb1d799800" dir="auto">
                                    Ethan Burrow Fairweather
                                </a>
                            </div>
                            <div class="ui-caption ui-xs-clamp2 postMetaInline">
                                I am a former Alabamian and a resident of Baltimore, Maryland. Entrepreneur, Business
                                Analyst, Full Stack Web Developer,
                                Writer and Political Operative.
                            </div>
                            <div class="ui-caption postMetaInline js-testPostMetaInlineSupplemental">Draft</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="postArticle-content js-postField js-notesSource editable" id="editor_185" g_editable="true"
            role="textbox" contenteditable="true" data-default-value="Title Tell your story…">
            <section name="6a3e" class="section section--body section--first section--last">
                <div class="section-divider">
                    <hr class="section-divider">
                </div>
                <div class="section-content">
                    <div class="section-inner sectionLayout--insetColumn">
                        <h3 [(ngModel)]="subject" class="graf graf--h3 graf--leading graf--title" type="text"
                            name="subject">Hello</h3>
                        <p name="376f" class="graf graf--p graf-after--h3"></p>
                        <!-- <p name="376f" class="graf graf--p graf-after--h3">
                            Aenean risus turpis, tincidunt sit amet condimentum vitae, aliquet ut erat. Donec rutrum eros ut sem consequat auctor. Donec
                            aliquam ipsum at lectus rutrum, sit amet consectetur tellus pretium. Cras venenatis est arcu,
                            sed pellentesque orci laoreet non. Morbi ultrices, massa sit amet tincidunt faucibus, ipsum turpis
                            hendrerit odio, sed elementum sapien enim nec tortor. Maecenas vitae eros nec elit porttitor
                            tincidunt sit amet in mi. Mauris commodo elementum enim pretium molestie. Curabitur convallis
                            odio erat, eget faucibus mi faucibus in.
                        </p>
                        <p name="376f" class="graf graf--p graf-after--h3">
                            Aliquam molestie vestibulum tristique. Nullam hendrerit lacus id elit suscipit, ut accumsan leo maximus. Duis quis viverra
                            lectus, sed pretium dolor. Maecenas vehicula, nisl eu dictum efficitur, orci ante congue arcu,
                            lobortis tristique nibh nisi in nulla. Donec molestie a urna at interdum. Proin lacinia, lacus
                            non congue tincidunt, neque velit venenatis augue, in hendrerit est odio eget urna. Proin et
                            egestas massa. Aliquam dui sapien, elementum eget mattis vitae, placerat suscipit lectus. Etiam
                            tristique rhoncus magna, at dictum enim ullamcorper sit amet. Maecenas in tortor rhoncus, tincidunt
                            ipsum eget, accumsan odio. Ut sed elit malesuada, facilisis diam non, accumsan nisl. Nulla facilisis,
                            lorem sit amet porta molestie, est nulla facilisis odio, vel mattis tortor lorem sit amet enim.
                            Curabitur sit amet velit ipsum. Suspendisse ultrices purus ut metus hendrerit pellentesque. Phasellus
                            velit tortor, ullamcorper eu libero eget, hendrerit blandit nibh. In vestibulum enim odio, et
                            placerat sapien eleifend et.
                        </p>
                        <p name="376f" class="graf graf--p graf-after--h3">
                            Nam aliquet tincidunt velit vestibulum porta. Nam tincidunt, metus eu ultrices molestie, orci justo sodales sapien, id lobortis
                            tortor ligula quis elit. Nulla in ex vitae lectus dapibus euismod. Donec quis leo metus. Praesent
                            sit amet luctus felis, non varius lorem. Fusce ac dolor hendrerit, commodo ligula id, hendrerit
                            metus. Donec blandit vehicula arcu, id congue tortor sagittis eu. Vestibulum ante ipsum primis
                            in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus bibendum justo nec vehicula
                            placerat. Phasellus nec venenatis neque.
                        </p>
                        <p name="376f" class="graf graf--p graf-after--h3">
                            Cras non dolor vitae diam viverra feugiat eget non erat. Vivamus quis quam et est suscipit egestas. Vestibulum malesuada
                            eget nulla at commodo. Morbi a ipsum convallis, efficitur risus sit amet, efficitur nisi. Nullam
                            elementum dictum mi, sed consequat augue malesuada eget. Etiam vulputate placerat pharetra. Ut
                            eleifend efficitur metus ac lobortis. Cras eu dapibus nisl. Ut urna dolor, porttitor non bibendum
                            id, convallis et diam.
                        </p> -->
                    </div>
                </div>
            </section>
        </div>
        <div class="u-sm-hide u-absolute u-marginRight30 u-textColorNormal u-fontSize14 u-textAlignRight u-hide"
            style="top: 206px; right: 882.625px; height: 48px;">
            <div class="u-absolute u-left14 u-top0 u-width1 u-sizeFullHeight u-overflowHidden">
                <div class="js-labelBar u-borderRightLighter u-transition--transform125 u-sizeFullHeight u-absolute u-topNegative100Percent"
                    style="transform: translate3d(0px, 48px, 0px);"></div>
            </div>
            <div class="js-titleLabel u-paddingTop19 u-absolute u-top0 u-right0 u-transition--transform200Spring u-transition--fadeIn200Delay150"
                style="transform: translate3d(0px, 0px, 0px);">Title</div>
            <div
                class="js-subtitleLabel u-paddingTop11 u-absolute u-top0 u-right0 u-transition--transform200Spring u-transition--fadeOut100">
                Subtitle</div>
            <div
                class="js-kickerLabel u-paddingTop4 u-absolute u-top0 u-right0 u-transition--transform200Spring u-transition--fadeOut100">
                Kicker</div>
        </div>

        <!-- Inline Tooltip Menu -->
        <div class="inlineTooltip buttonScalableGroup" id="tooltipmenu" style="top: 323px; left: 180px;">

            <!-- Open Tooltip Button -->
            <button
                class="button button--small button--circle button--dark button--withChrome u-baseColor--buttonDark button--withIcon button--withSvgIcon button--inlineTooltipControl js-inlineTooltipControl is-touched"
                title="Add an image, video, embed, or new part" aria-label="Add an image, video, embed, or new part"
                data-action="inline-menu" tabindex="-1">
                <span class="svgIcon svgIcon--addMediaPlus svgIcon--25px">
                    <svg class="svgIcon-use" viewBox="0 0 25 25">
                        <path d="M20 12h-7V5h-1v7H5v1h7v7h1v-7h7" fill-rule="evenodd">
                        </path>
                    </svg>
                </span>
            </button>
            <!-- Open Tooltip Button End -->
        </div>
        <!-- End Inline Tooltip Menu -->

        <footer class="u-paddingTop10"></footer>
    </article>
</main>
<!-- Tooltip Menu -->
<app-media-tool-tip></app-media-tool-tip>
<!-- End Tooltip Menu -->
<!--- Inline editor-->
<app-action-scope></app-action-scope>
<!--- Inline editor-->
</div>