<div class="app">
    <navbar></navbar>
    <div class="lpadding">
        <div class="loginpos">
            <div class="container">
                <div class="card panel-default">
                    <div class="card-header">
                        <h2 class="card-title">Blog Login</h2>
                    </div>
                    <div class="card-body">
                        <form #login="ngForm">
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" [(ngModel)]="user.Username" type="text" name="username" required>
                                <label>Password</label>
                                <input class="form-control" [(ngModel)]="user.Password" type="password" name="password" required>
                                <div class="btnpadding">
                                    <button class="btn btn-secondary" (click)="loginUser()" type="submit">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>