<div class="app">
    <navbar></navbar>
    <div class="writepos">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Write Post</h2>
                    </div>
                    <div class="widget-area panel-body">
                        <form (ngSubmit)="blogPost()">
                            <div class="form-group status-upload">
                                <label>Topic</label>
                                <input [(ngModel)]="subject" class="form-control" type="text" name="subject" required>
                                <label>Post</label>
                                <!--<textarea [(ngModel)]="post" class="form-control" name="post" rows="6" required></textarea>-->
                                <froala-editor [post]="post" (onChange)="handlePostChange($event)"></froala-editor>
                                <div class="btnpadding">
                                    <button class="btn btn-default" type="submit">Submit</button> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>